@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 210, 14%, 9%; /*#131619*/
        --foreground: 0 0% 100%; /*#ffffff*/
        --card: 0 0% 3.9%; /*#0a0a0a*/
        --card-foreground: 0 0% 98%; /*#fafafa*/
        --popover: 0 0% 3.9%; /*#0a0a0a*/
        --popover-foreground: 0 0% 98%; /*#fafafa*/
        --primary: 158 66% 41%; /*#24AE7C*/
        --primary-foreground: 0 0% 9%; /*#171717*/
        --secondary: 0 0% 14.9%; /*#262626*/
        --secondary-foreground: 0 0% 96.1%; /*#f5f5f5*/
        --muted: 0 0% 14.9%; /*#262626*/
        --muted-foreground: 209 17% 72%; /*#abb8c4*/
        --accent: 0 0% 14.9%; /*#262626*/
        --accent-foreground: 209 9% 51%; /*#76828D*/
        --destructive: 4 87% 61%; /*#F24E43*/
        --destructive-foreground: 0 0% 98%; /*#fafafa*/
        --border: 206, 6%, 23%; /*#303538*/
        --input: 214 12% 12%; /*#1a1d20*/
        --ring: 194 88% 74%; /*#82DBF7*/
        --chart-1: 220 70% 50%; /*#357edd*/
        --chart-2: 160 60% 45%; /*#4daf86*/
        --chart-3: 30 80% 55%; /*#e5a348*/
        --chart-4: 280 65% 60%; /*#9f64d9*/
        --chart-5: 340 75% 55%; /*#d96fa8*/
    }
    .dark {
        --background: 210, 14%, 9%; /*#131619*/
        --foreground: 0 0% 100%; /*#ffffff*/
        --card: 0 0% 3.9%; /*#0a0a0a*/
        --card-foreground: 0 0% 98%; /*#fafafa*/
        --popover: 0 0% 3.9%; /*#0a0a0a*/
        --popover-foreground: 0 0% 98%; /*#fafafa*/
        --primary: 158 66% 41%; /*#24AE7C*/
        --primary-foreground: 0 0% 9%; /*#171717*/
        --secondary: 0 0% 14.9%; /*#262626*/
        --secondary-foreground: 0 0% 96.1%; /*#f5f5f5*/
        --muted: 0 0% 14.9%; /*#262626*/
        --muted-foreground: 209 17% 72%; /*#abb8c4*/
        --accent: 0 0% 14.9%; /*#262626*/
        --accent-foreground: 209 9% 51%; /*#76828D*/
        --destructive: 4 87% 61%; /*#F24E43*/
        --destructive-foreground: 0 0% 98%; /*#fafafa*/
        --border: 206, 6%, 23%; /*#303538*/
        --input: 214 12% 12%; /*#1a1d20*/
        --ring: 194 88% 74%; /*#82DBF7*/
        --chart-1: 220 70% 50%; /*#357edd*/
        --chart-2: 160 60% 45%; /*#4daf86*/
        --chart-3: 30 80% 55%; /*#e5a348*/
        --chart-4: 280 65% 60%; /*#9f64d9*/
        --chart-5: 340 75% 55%; /*#d96fa8*/
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
